[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
pyinstaller = "*"

[requires]
python_version = "3.10"
